#hero__left{
    width: 50%;
    height: 100%;
}

.left-top{
    margin-top: 1rem;
}

button.icon{
    background-color: transparent;
    
    color: black;
    font-weight: 900;
    font-size: 20px;
    
    border: none;
    margin-left: 1rem;
}

.left-wrap{
    position: absolute;
    
    // margin: 0rem 5rem 5rem 2rem;
    top: 10rem;
    left: 3.5rem;
    
    height: 30vh;
    width: 29%;
}
p.wrap-block{
    width: fit-content;
    height: fit-content;
    
    word-wrap: break-word;
    letter-spacing: -3.5px;
    word-spacing: 15px;
    line-height: 59.15px;
    
    font-weight: bolder;
    font-size: 80px;
}
.orange-text{
    color: rgb(255, 128, 0);
    font-size: 90px;
}

.left-bottom{
    position: absolute;
    bottom: 35px;
    width: 15%;
    left: 2.75rem;
    
    font-size: 18.5px;
    font-weight: 550;
    line-height: 18px;
    word-wrap: break-word;
}

::selection{
    color: white;
    background-color: black;
}